@font-face{
	font-family: Calibre;
	src: url(fonts/Calibre-Medium.otf);

	font-family: Avenir;
	src: url(fonts/AvenirLTStd-Medium.otf);

	font-family: Charter;
	src: url(fonts/CharterITC-Bold.otf);
}

html, body{
	max-width: 100%;
    overflow: hidden;
    margin:0;
}
.intro-screen{
	height:100vh;
	margin:0px auto 0px auto;
	max-width: 1200px;
	overflow: hidden;
}

.intro-screen .intro-cta{
	position: absolute;
	bottom:6%;
	width: 66%;
}

.intro-screen .intro-cta p{
	font-family: Avenir;
	color: black;
	font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    float: right;

}

.intro-screen h2{
	font-family: Charter;
	font-size: 80px;
	margin: auto;
	max-width: 100%;
	margin-top: 21vh;
}
.content{
	min-height: 75vh;
	margin: 10vh 39vh 15vh auto;
	max-width: 1200px;
	display:none;
}
.logo-text{
	position: fixed;
	z-index: 1;
	margin: 0;
	left:98%;
	width:100vh;
	transform: rotate(90deg);
	transform-origin:0% 0%;
	font-family: Avenir;
	color: black;
	font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
}

.conversation-style{
	display: none;
	font-family: Charter;
	font-size: 32px;
	line-height: 48px;
	color:black;
	max-width: 65%;
}

.content textarea{
	display: block !important;
	padding-left: 13vh;
	color: #0074FF;
	width: 60%;
	padding-top: 25px;
	visibility: hidden;
	border: none;
    overflow: auto;
    outline: none;
	resize:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: Avenir;
    letter-spacing: 0.5px;
    font-weight: 500;
}


/* DBL SECTION STARTS HERE */ 
.text-processer{
	height: 90vh;
	margin: 16vh 39vh 5vh auto;
	max-width: 1200px;
	display: none;
	padding-top: 5vh;
}

.text-processer .header-wrapper{
	height:156px;
	margin-top: 6vh;
}

.text-processer h2{
	line-height: 55px;
	max-width: 1122px;
	margin-top: 0px;
}
.grey{
	color:grey;
	margin:50px 0px -25px 0px;
}

#question{
	display: inline-block;
	font-size: 52px;
	line-height: 65px;

}

.text-processer .meta-text{
	font-family: Avenir;
	color: black;
	font-size: 18px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-left: 98vh;
}
.text-processer .io-div{
	display: inline-block;
	width:85%;
	margin-top: 50px;
	visibility: hidden;
	position: absolute;
	left:41vh;
}

.text-processer .input-wrapper{
	width:550px;
	display: inline-block;
	float: left;
	margin-right: 152px;

}
.text-processer .input-wrapper textarea{
	font-family: Avenir;
	font-size: 24px;
	line-height: 36px;
	color: #0074FF;
	border: none;
	font-weight: 500;
	letter-spacing: 0.5px;

	display: inline-block;
	width: 100%;
	max-width: 550px;

    overflow: auto;
    outline: none;
	resize:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.text-processer .input-wrapper .indication{
	position: absolute;
    padding-top: 80px;
    display: inline-block;
    left:-170px;
    display: none;
    max-width: 100px;
    text-align: start;
    direction: rtl;
    margin-left: 0vh;
}

.text-processer .output-wrapper{
	height: 100%;
	width:550px;
	float:left;
	display: none;
}

#outputText{
	width: 100%;
	word-wrap: break-word;
	white-space: pre-line;
	text-align: left;
	margin: auto;
	font-family: Avenir;
	font-size: 24px;
	line-height: 36px;
	color: black;

	border: none;
	font-weight: 500;
	letter-spacing: 0.5px;
}
.text-processer .instructions-wrapper{
	position: fixed;
	bottom:6%;
	width: 75%;
}
.text-processer .instructions{
}

.text-processer .instructions p{
	margin:0;
}



.rules-wrapper{
	background-color:#4d72d6;
	height: 70vh;
	width:100%;
	display: none;
	position: fixed;
	bottom:-70vh;
	left:0px;
	z-index: 2;
}

.rules-wrapper .inner-wrapper{
	width:84%;
	margin:auto;
	padding-top:115px;
}

.rules-wrapper .rule-element{
	width:25%;
	float: left;
}

.rules-wrapper h2{
	font-family: Charter;
	font-size: 32px;
	color:white;
}

.rules-wrapper p{
	color:white;
	font-family: Avenir;
	font-size: 18px;
	width:67%;
}

.rules-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

.rules-wrapper .CTA{
	position: absolute;
	bottom: 40px;
	width: 74%;
    direction: rtl;
}



.end-screen{
	height:100vh;
	background-color:#4d72d6;
	width:100%;
	display: none;
}

.end-screen h2{
	font-family: Charter;
	display: inline-block !important;
	font-size: 52px;
	line-height: 65px;
	max-width: 70%;
	margin: 12.5vh;
}

.end-screen img{
	position: absolute;

}









.hidden{
	visibility: hidden;
}

.absolute{
	position: absolute;
	margin-top:110px;
}

#output:before{
	content:'';
	display: inline-block;
	vertical-align: middle;
	height: 100%
}

.output-innerwrapper{
	display: flex;
	align-items: center;
	height:100%;
}


