
html{
	font-size: 24px;
	font-family: 'Inconsolata', monospace;
}

body{

}

.contentcontainer{
	margin: auto;
	max-width: 960px;
	min-width: 200px;
	padding-top: 100px;
}






 p {
	margin: 0px 20px 25px 0px;
	padding-left: 25px;
	line-height: 1.2em;
	border-left: 4px solid #000;

}

h2{
	font-size: 1em;
}

h1 {
	font-size: 2.4em;
	line-height: 1.5em;
	margin: 0px;
	max-width: 960px;
}

#header{

}



.menu-div{
	position: absolute;
	float: right;
}

.menu-div h1{
	float: left;
	display: inline;
}

.menu-div ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menu-div ul li{
	float: right;
}

.menu-div ul li a{
	font-size: 11px;
	display: block;
	color: #5A5A5A;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: white;
}

.menu-div ul li a:hover{
	color: #5B8AFD;

}

.menu-div .active{
    color: #5B8AFD;
}

















.headercontainer{
	position: relative;
	width: 100%;
	display: inline-block;
}

.textbox{
	position: absolute;
	width: 960px;
	min-width: 200px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	padding-top: 100px;
}

.p5container{
	display: block;
	max-width: 100%;
	height: auto;
}



.last-child{
	margin-bottom: 0px;
}

.text-section{
	margin-top: 0px;
	display: inline-block;
}

#fname, #fname2 {
	height: 40px;
	width: 300px;
	background-color: white;
	border:none;
	font-size: 24px;
	font-family: 'Inconsolata', monospace;
	outline: none;
}

#fname:focus{
		outline: none;
}






