
html{
	font-size: 16px;
	font-family: 'Inconsolata', monospace;
}

body{
	 margin:auto;
	 max-width: 1200px;
	 min-width: 200px;

	 opacity: 1;
     transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

h1{
font-size: 1.3em;
}

h2{
	font-size: 1.1em;
	color: #5A5A5A;
	font-weight: 300;
}











.content{
	margin: 70px 20px 20px 20px;
	height:100%;
}

.content .intro p{
	color: #5A5A5A;
	max-width: 750px;
	line-height: 1.3em;

}

.content .boxcontainer{
	margin-top: 20px;
	 display: inline-block;
  	 width: 48%;
  	 height:auto;
  	 float: left; 	  	 
}

.content .chatcontainer{
	 margin-top: 40px;
	 display: inline-block;
  	 width: 98%;
  	 height:auto;
  	 float: left; 
}


.content .boxcontainer:nth-child(2){
	margin-right: 2%
}

.textBox{
	height: 200px;
	max-width: 100%;
	display: block; 
	padding:20px;
	resize: none;
	border: none;
	width:92%;

	font-size: 16px;
	font-family: 'Inconsolata', monospace;
	color: #5A5A5A;

	background-color: #F2F2F2;
}

.content .chatcontainer .textBox{
	width: 100%;

}


.boxcontainer button{
	margin-top: 24px;
	font-family: 'Inconsolata', monospace;
	background-color: #5B8AFD; /* hover: 4C80FF; */ 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.boxcontainer .textBox:focus{
	pointer-events: none;
}

#export-btn{
	margin-left: 12px;
}

.boxcontainer button:hover {background-color: #4C80FF;}

.hide{
	visibility: hidden;
}




.chatcontainer .chatbox{
	height: 100px;
	display: block; 
	resize: none;
	width:100%;

	font-size: 16px;
	font-family: 'Inconsolata', monospace;
	color: #5A5A5A;
}

.chatcontainer .chatbox .chat-object{
	height: auto;
	max-width: 100%;
	display: block; 
	resize: none;
	border: none;
	width:100%;
}





.chatcontainer .chatbox .chat-object .left{
	height: 50%;
	max-width: 50%;
	display: block; 
	width:50%;
	float:left;
	clear:right;
	margin-bottom: 20px;
}

.chatcontainer .chatbox .chat-object .right{

	height: 50%;
	max-width: 50%;
	display: block; 
	width:50%;
	float:right;
	clear:left;
	margin-bottom: 20px;

}



.chatcontainer .chatbox .chat-object .left .msg{

	height: 100%;
	max-width: 100%;
	display: block; 
	width:100%;
	padding:20px;

	font-size: 16px;
	font-family: 'Inconsolata', monospace;
	color: #5A5A5A;
	background-color: #F2F2F2;
}

.chatcontainer .chatbox .chat-object .right .msg{

	height: 100%;
	max-width: 100%;
	display: block; 
	width:100%;
	padding:20px;
	

	font-size: 16px;
	font-family: 'Inconsolata', monospace;
	color: #5A5A5A;
	background-color: #F2F2F2;
}

#first{
	margin-top: 40px;
}



 
